@charset "utf-8";
html {
	height: 100%;
	font-size: 14px;
	background: var(--page-bg);
}

img, object, embed, video {
	max-width: 100%;
}
img.logo{
	max-width: 200px;
	max-height: 200px;
	margin-left: 350px;
	border:none;
}
body {
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
	background: var(--body-bg);
}
nav {
	width: 25%;
	float: left;
	margin: 6% 2% 0% 0%;
}
article {
	width: 73%;
	float: left;
	font-size: 0.8em;
	text-align: left;
}

nav ul li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.8em;
}

nav ul li a {
	color: #f8e5ee;
	text-decoration: none;
	display: block;
	margin-bottom: 8%;
}
nav ul li a:visited {
	color: var(--alt-text);
}
nav ul li a:hover {
	background-color: #ffd670;
	color: white;
}
nav ul li a:focus {
	outline: thin dotted;
}
nav ul li a:hover, nav ul li a:active {
	outline: 0;
}
 ul.catering li {
	margin: 0;
	padding: 16px 0 16px 84px;
	list-style: none;
	background-image: url(panini-logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px;
}
body h1 {
	margin: 1%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.5em;
}

body article h1 {
	font-size: 1.15em;
}

header img {
	float: none;
	width: 96%;
	margin: 2% 2% 0% 2%;
}
body p, body address {
	margin: 3.5% 1%;
	font-size: 1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: normal;
	height: 100%;
}
dl {
	margin-left: 2%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
dt {
	display: block;
	margin: 0;
	text-indent: 0;
	font-weight: bold;
	border-bottom: 1px solid rgba(168, 168, 168,1.00);
}
dd {
	display: block;
	margin: 0 0 3% 3%;
	text-indent: 0;
}

footer {
	text-align: center;
	font-size: 0.6em;
	margin-top: 4%;
	border-top: 3px outset #cf7b79;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	clear: both;
	padding-bottom: 20px;
}

article aside h1 {
	display: none;
}

article div {
	border-bottom: 1px solid rgb(151, 151, 151);
}

article div:first-of-type {
	margin-top: 30px;
}

article div h1 {
	font-size: 1em;
	font-weight: bold;
}

article p, article address {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}



@media only screen and (min-width: 481px) {
html, body {
	font-size: 16px;
}

body {
	width: 89.9%;
	padding-left: 1.55%;
	padding-right: 1.55%;
	clear: none;
	float: none;
	margin-left: auto;
	background-color: var(--body-bg);
	color: var(--alt-text);
}

header h1 {
   font-size: 2.2em;
}

body article h1 {
   font-size: 1.75em;
}

article {
	width: 94%;
	float: none;
	margin: 0px auto;
}
dl#ct_locations {
	width: 57%;
	margin: 0px 0px 0px 20px;
}
dl {
	width: 90%;
    margin: 0 auto;
	text-align: left;
}
article img {
	float: right;
	width: 40%;
	margin: 0% 2% 2% 2%;
}
nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: 2px solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}
nav ul li a {
	margin-bottom: 0;
}
nav {
	display: table;
	width: 96%;
	margin: 0 auto;
	float: none;
}
nav ul {
	display: table-row;
	margin: 0;
}
nav ul li:last-of-type {
	margin-right: 0%;
}
nav ul li ul li{
	border: none;
}
article ul {
	margin-top: -20px;
}

article aside {
	float: right;
	margin: 0 0 20px 20px;
	padding: 1%;
	border: 1px solid #f06543;
	width: 35%;
	font-size: 0.9em;
	background-color: var(--page-bg);
	color: var(--dropdown-text);
}

article aside h1 {
	display: block;
	font-size: 1em;
	text-align: center;
	border-bottom: 1px solid rgb(111, 111, 111);
}

article div {
	float: left;
	width: 30.3%;
	margin: 0% 1% 2% 1%;
	border: 1px solid rgb(151, 151, 151);
}

article div:first-of-type {
	margin-top: 0%;
}

article div h1 {
	text-align: right;
	font-weight: normal;
	font-size: 1em;
	border-bottom: 1px solid rgb(151, 151, 151);
	background-color: var(--text);
}

article div p {
	font-size: 0.85em;
	text-align: left;
}
article p {
	color:var(--alt-text);
}
p{
	color: var(--text);
}
a.contact{
	color: var(--text);
}
footer {
	font-size: 0.9em;
}
}





@media only screen and (min-width: 769px) {
html, body {
	font-size: 20px;
}

html {
	background-color: var(--page-bg);
	margin: 0px auto;
}
body {
	width: 88.2%;
	max-width: 900px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	background-color: var(--body-bg);
	-moz-box-shadow: #22181c 20px 0px 25px,  #22181c -20px 0px 25px;
	-webkit-box-shadow: #22181c 20px 0px 25px,  #22181c -20px 0px 25px;
	box-shadow: #22181c 20px 0px 25px,  #22181c -20px 0px 25px;
}

article div h1 {
	font-size: 1.1em;
	background-color: var(--page-bg);
}

article div p {
	font-size: 0.95em;
	color:var(--text);
}

}
/*fixed colring issue*/
.backstory, .date, .dropdown-item{
	color:var(--text);
}

.dropdown {
	position: absolute;
	width: 300px;
	opacity: 0;
	z-index: 2;
	background: var(--page-bg);
	color: var(--dropdown-text);
	border-top: 2px solid white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 3rem;
	margin-top: 0.25rem;
	padding: 0.5rem;
	box-shadow: #22181c 0px 0.175rem 0.5em;
	transform: translateX(-25%);
	transition: opacity .15s ease-out;
	
}
.has-dropdown:focus-within .dropdown{
	opacity: 1;
	pointer-events: auto;
}
.dropdown-item a{
	width: 100%;
	height: 100%;
}
.dropdown-item a::before{
	content: '';
	border: 2px solid white;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

:root {
    --light1: #22181c;
	--light2: #f8e5ee;
	--light3: #f06543;
	--light4: #ffd670;

	--dark1: #020202;
	--dark2: #cecccc;
	--dark3: #950952;
	--dark4: #5b6c5d;
	--dark5: #526760;

	--green1: #134611 ;
	--green2: #63a46c ;
	--green3: #69353f ;
	--green4: #efe6dd ;
	--green5: #14cc60 ;	
}
.dark {
	--page-bg: var(--dark3);
	--body-bg: var(--dark4);
	--nav-text: var(--dark2);
	--text: var(--dark2);
	--alt-text: var(--dark2);
	--bg-dropdown: var(--dark2);
	--dropdown-text: var(--dark1);
}
.light {
	--page-bg: var(--light3);
	--body-bg: var(--light4);
	--nav-text: var(--light4);
	--text: var(--light2);
	--alt-text: var(--light1);
	--bg-dropdown: var(--light4);
}
.green {
	--page-bg: var(--green3);
	--body-bg: var(--green1);
	--nav-text: var(--green2);
	--text: var(--green4);
	--alt-text: var(--green2);
	--bg-dropdown: var(--green5);
}